/* Headeri */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img {
    height: 50px;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

header ul a {
    text-decoration: none;
    color: black;
    font-size: large;
}