/*Header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
    border-bottom: lightgray 1px solid;
}
header .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkcyan;
}
header img{
    height: 50px;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}
header ul a{
    text-decoration: none;
    color: black;
    font-size: large;
}
/*Main*/
.page-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkcyan;
}
.page-title{
    padding: 20px 100px;
}
.products{
    padding: 20px 40px;
}
.products h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkcyan;
    margin-bottom: 30px;
}
/*Kartat e produkteve*/
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px darkcyan solid;
    border-radius: 20px;
    width: 300px;
    margin: 20px 0px;
    background-color: lightgrey;
}
.product-card img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
.product-card h2{
    font-size: medium;
    margin-top: 10px;
}
.product-card p{
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}
.product-card .date{
    font-size: 12px;
    color: #555;
    margin-top: 5px;
}
/*Footer*/
footer {
    padding: 20px 150px;
    border-top: 1px solid gray;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

footer h3 {
    color: darkcyan;
    margin-bottom: 10px;
}

footer p {
    color: gray;
    font-size: 0.9rem;
    line-height: 1.5;
}

footer ul {
    list-style: none;
}

footer li {
    margin: 6px 0;
    text-wrap: nowrap;
}

footer a {
    text-decoration: none;
    color: gray;
}